/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,700;1,400;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

* {
    box-sizing: border-box;
}

html {
  --base-color: #130f40;
  --active-color: salmon;
  font-size: 16px;
}

body {
    color: var(--base-color);
    
    font-family: 'Poppins', sans-serif; 
    margin: 0;

    font-size: 1.2rem;
    position: relative;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: calc(1.45rem + 1.14vw);
}


.list-unstyled {
    list-style: none;
}

.bg-dark {
    background-color: #130f40;
}
.text-white {
color: white;
}


.border {
    border-style: solid;
    border-width: 1px;
}

.hero {

} 
.bg-cover {
    background-size: cover !important;
}
.bg-center {
    background-position: center center !important;
}

.py-3 {
    padding: 1rem 0;
}

.py-5 {
    padding: 3rem 0;
}
.mt-5 {
    margin-top: 3rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
}

.btn-primary {
    color: white;
    background-color: salmon;
    border-color: salmon;
    border-radius: 5%;
}

.catalog header {
    text-align: center;
    font-size: 2.5rem;
}

header h2 span {
    color: salmon;
}

/* layout */

.container {
  width: 90%;
  margin: 0 auto;
}

.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.flex-container > * {
    width: 100%;
}



@media (min-width: 768px) {
    
    .flex-container {
        width: 100%;
    }

    .flex-container > * {
        width: calc((100% - 2rem) / 3);
    }

}

/* footer */

footer {
    width: 100%;
    background-color: #555;
    color: #bbb;
    line-height: 1.5rem;
}

footer ul {
    padding-left: 0;
    list-style: none;
}


footer a {
    color: #eee;
    font-size: .85rem;
    text-decoration: none;
}

footer h3 {
    color: #fff;
    padding-bottom: .625rem;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 1.875rem;
}

@media (min-width: 29.82rem) {
    .footer-main {
        justify-content: space-evenly;
    }
}

.footer-main-ityem {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.footer-social {
    padding: 0 1.875rem 1.25rem;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.footer-social-list li {
    margin: .5rem;
    font-size: 1.4rem;
}

.footer-legal {
    padding: .9375rem 1.875rem;
    background-color: #333;
}
.footer-legal-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-legal-item li {
    margin: .125rem .625rem;
    white-space: nowrap;
}

footer form {
    display: flex;
    flex-wrap: wrap;
}
footer input[type="email"] {
    border: 0;
    padding: .625rem .9375rem;
    margin-top: .315rem;
}

footer input[type="submit"] {
    background-color: var(--active-color);
    color: white;
    border: 0;
    padding: .625rem .9375rem;
    margin-top: .315rem;
}

footer input[type="submit"]:hover {
    background-color: white;
    color: var(--active-color);
    border: var(--active-color) 1px solid;
}

footer input[type="submit"]:hover > input[type="email"] {
    border: var(--active-color) 1px solid;
}

.footer-legal-item li:nth-last-child(2) {
    flex: 1;
}

.footer-social-list li a:hover {
    color: var(--active-color);
}

footer ul.list-unstyled a:hover {
    color: white;
    font-weight: 600;
} 
/* navigation */


.page-header {
    background-color: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.page-header a {
    font-size: 1.2rem;
    color: var(--base-color);
    /* font-weight: bolder; */
    text-decoration: none;
}
.page-header .navbar a {
    margin-left: 1rem;
}
.navbar a{
    position: relative;
}

.navbar a:hover, .toolbar a:hover {
    color: var(--active-color);
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid var(--active-color);
    transition:linear .4s;
}
.navbar a:hover::after {
    width: 100%;
}
.brand {
    color: var(--active-color) !important;
}


#toggler, .page-header label {
    display: none;
}



@media (max-width: 47rem) {
    .page-header label {
        display: inline-block;
    }
    .page-header {
        display: flex;
        justify-content: space-between !important; 
    }    
    .navbar{
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navbar a {
        display: block;
        margin: .5rem;
    }
    #toggler:checked ~ nav.navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

#toggler {
    display: none;
}


.text-right {
    text-align: right;
}
 
.bg-attachment {
    background-attachment: fixed !important;
}

.content {
    text-align: center;
    margin: 0;
    padding: 0;
}

.content strong {
    color: var(--base-color);
}

.content .price {
    font-size: 1.5rem;
    color: var(--active-color);
}
.image {
    height: 30rem;
    overflow: hidden;
}

.image img {
    width: 100%;
    object-fit: cover;
}


.product .icons {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: -10;
}
 
.product .icons a {
    display: block;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #fff;
    color: var(--base-color);
    text-align: center;
    text-decoration: none;
    line-height: 4rem;
    margin: 0;
}

.product:hover .icons {
    z-index: 10;
}

.image img, .icons, ,icons a {
    transition: ease .3s;
}

.product:hover .image img {
    transform: scale(1.1);
    /* transform:rotate(45deg); */
    filter: brightness(90%);
}

.product .icons a:hover {
    color: #fff;
    background-color: var(--active-color);
} 
/* breafcrumbs */

.breadcrumb-container {
    display: flex;
    padding-top: 3rem;
    margin-top: 3rem;
    justify-content: space-between;
}

.bg-light {
    background-color: rgb(248, 249, 250);
}

.breadcrumb-title, .breadcrumb-item {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.breadcrum {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
    padding-right: .5rem;
}

.breadcrumb-item.active {
    color: #bbb;
}

.breadcrumb-item a {
    color: var(--base-color);
    text-decoration: none;
}

/* contacts */

.contact-container {
    display: grid;
    /* border: red 1px solid; */
    gap:1rem;
}

.contact-header {
    /* border: gold 1px solid; */
    grid-row: 1;
    grid-column: 1 / 4;
}

.contact-main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    /* border: green 1px solid; */
}

.contact-sidebar {
    border: blue 1px solid;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.contact-footer {
    /* border: magenta 1px solid; */
    grid-column: 1 / 4;
    grid-row: 4;
}

@media (max-width: 768px) {
    .contact-main {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .contact-sidebar {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}



.product-container {
    /* position: relative; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.product {
    position: relative;
}

.badge {
    display: inline-block;
    padding: .35rem .65rem;
    text-align: center;
    vertical-align: baseline;
}


.bg-sale {
    background-color: red;
}

.bg-new {
    background-color: green;
}


.bg-sold {
    background-color: gray;
}
.product .badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}


.catalog-container {
    display: grid;
}

.catalog-container main {
    grid-column: 4 / 12;
    /* grid-row: 1; */
    border: green 1px solid;
}

.catalog-container aside {
    border: blue 1px solid;
    grid-column: 1 / 3;
    /* grid-row: 1; */
}


@media (max-width: 768px) {
    .catalog-container {
        display: block;
    }
    .catalog-container main {

       width: 100%;
    }
    .catalog-container aside {

        width: 100%;
    }
}

.svg-icon {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    stroke: currentColor;
    stroke-width: 0ch3;
}

.svg-icon {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    stroke: currentColor;
    stroke-width: 3;
}

.svg-icon-big {
    width: 48px;
    height: 48px;
    vertical-align: text-bottom;
    stroke: var(--active-color);
    stroke-width: 3;
}

/* cart */

.cart-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'm' 's' 'f';
    grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 500px) {
    .cart-wrapper {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "m m m m m m m m m m m m"
        "s s s s s s s s s s s s"
        "f f f f f f f f f f f f "
        ;
    }
}

@media (min-width: 768px) {
    .cart-wrapper {
        grid-template-areas: 
        "m m m m m m m m m s s s"
        "f f f f f f f f f f f f "
        ;
    }
}

.cart-content {
    grid-area: m;
    border: red solid 1px;
}


.cart-sidebar {
    grid-area: s;
    border: green solid 1px;
}


.cart-footer {
    grid-area: f;
    border: magenta solid 1px;
}


table {
    border-collapse: collapse;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
    vertical-align: top;
}

.table thead {
    background-color: #f7f7f7;
    vertical-align: bottom;
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-middle {
    vertical-align: middle !important;
}

.table td {
    padding: .5rem .5rem 0 0;
}

.table td:nth-child(2), .table th:nth-child(2) {
    flex: .5;
}

.remove {
    width: 28px;
    height: 28px;
    padding: .4rem;
    color: var(--active-color);
}

.amount::before {
    content: '$';
}



.form-control {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #bbb;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
}

.input-group div {
    flex: 1;
}

.form-control:focus {
    background-color: #eed8a5;
    border-color: #f00;
    box-shadow: 0 0 0 .25rem rgba(220, 177, 74, .25);
}
.form-control::placeholder {
    /* opacity: 1; */
}

.text-center {
    text-align: center;
}

/* carousel */

.carousel {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
}

.category-item {
    display: block;
    position: relative;
    
}

.category-item-title {
    display: inline-block;
    background-color: white;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .07em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #333;
    transform: translate(-50%, -50%);
    padding: .5em 1em;
}

.slide-track {
    width: calc(250px * 14);
    display: flex;
    animation: carousel 40s infinite linear;
}

.slide img {
    display: block;
    height: 100px;
    width: 250px;
    object-fit: cover;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider::before, .slider::after {
    content: '';
    height: 100%;
    width: 200px;
    z-index: 2;
    position: absolute;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* blog */
.container-blog {
    display: flex;
    gap: 1rem;
}

.container-blog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-blog aside {
    border-left: 1px dotted #ccc;
    padding: .5rem 1rem;
    flex: 1;
}

.container-blog main{
    padding: .5rem;
    flex: 3;
}

.container-blog main,
.container-blog .sidebar {
    container-type: inline-size;
    container-name: sidebar;
}

.card {
    display: flex;
    flex-wrap: row;
    border: 1px #ccc dotted;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.card-header {
    max-width: 500px;
    padding: 1rem;
    margin: 0;
}

@container sidebar (max-width:45rem) {
    .card {
        flex-direction: column;
    }
    .card-header {
        width: 100%;
    }
}

@media (max-width: 45rem) {
    .container-blog {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .container-blog main, .container-blog aside {
        flex: auto;
        width: 100%;
    }
}

.card-body p {
    font-size: clamp(.9rem, .5cqi + 1rem, 1.5rem);
}

.card-body h3 {
    font-size: clamp(1.25rem, 3cqi + 1rem, 2.5rem);
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;

    transition: all .4s;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 50%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-dialog {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .5);
}

.modal-body {
    display: flex;
    width: 100%;
}

.modal-body main {
    flex: 1;
    padding: .5rem;
    width: 100%;
}

.modal-body aside {
    flex: 1;
    padding: .5rem;
    width: 100%;
}

.modal-body aside img {
    max-width: 100%;
    object-fit: cover;
}

.info-container {
    display: grid;
    gap: 1rem;
}

.info-header {
    grid-column: 1 / 3;
    grid-row: 1;
}

.info-price {
    grid-column: 1 / 2;
    grid-row: 2;
}

.info-shipping {
    grid-column: 2 / 3;
    grid-row: 2;
}

.info-qty {
    grid-column: 1 / 3;
    grid-row: 3;
}

.info-butoon {
    grid-column: 1 / 3;
    grid-row: 4;
}
.info-description {
    grid-column: 1 / 3;
    grid-row: 5;
}

.info-qty input[type='number'] {
    max-width: 3.5rem;
    height: 2.5rem;
    border: 1px dotted lightgoldenrodyellow;
}

.info-qty input:in-range {
    background-color: rgba(0, 255, 0, .25);
}

.info-qty input:out-of-range {
    background-color: rgba(255, 0, 0, .25);
    border-color: #f00;
}

.info-butoon a.btn {
    display: inline-block;
    padding: .5rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    box-shadow: inset 0 0 0 0 white;
    transition: .4s;
}

.info-butoon a.btn-submit {
    width: 100%;
    margin-top: 5px;
    color: var(--active-color);
    font-size: 1.4rem;
    background: transparent;
    border: 1px solid salmon;
    box-shadow: inset 0 0 0 0 salmon;
    border-radius: 30px;
}

.info-butoon a.btn-submit:hover {
    color: white;
    box-shadow: inset 260px 0 0 0 salmon;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: gray 1px solid;
    transition: all .5s ease-out;
    z-index: 10;
    text-align: center;
}

.close:hover {
    background-color: salmon;
    border-color: salmon;
    color: white;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

/* dialog */

#login {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 50%;
}


.login-container {
    display: flex;
}

.login-container h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.login-container p {
    margin: 0 0 20px 0;
    font-size: 1.1rem;
    line-height: 1.4;
}

.login-container main {
    flex: 1;
    padding: 1rem 1.5rem;
}

.login-text {
    position: relative;
    width: 100%;
    color: white;
    padding: 1rem 1.5rem;
}
.login-text .btn {
   display:inline-block ;
   padding: .5rem 1.2rem;
   font-size: 1.2rem;
   letter-spacing: 1px;
   text-decoration: none;
   border-radius: 30px;
   color: white;
   border: 1px solid white;
   box-shadow: inset 0 0 0 0 white;
   transition: .4s;
}

.login-text .btn:hover {
    color: salmon;
    box-shadow: inset 150px 0 0 0 white;
}
.login-container aside {
    flex: 1;

    clip-path: polygon(0 0, 0 100%, 100% 0 );
    background: linear-gradient(to right bottom, salmon 0%, white 100%);
}

.login-form {
    position: relative;
    width: 100%;
}

.login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}

.login-form input {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.login-form input:focus {
    border-color: #f00;
}